In [48]:
import pandas as pd
import math
import statsmodels.api as sm
import os
import linearmodels

In [49]:
DF=pd.DataFrame({'stk':[8,9],'month':[5,6],'size':[1,2],'share':[3,4]})
DF=DF.set_index('stk')
DF=DF.set_index('month',append=True)
DF

           size  share
stk month
8   5         1      3
9   6         2      4

In [50]:
reg_lst=['size','share']
reg_order=['size','share']
def FamaMacBeth_summary(DF,
                        reg_lst,
                        reg_order,
                        reg_names=None,
                        params_format='{:.3f}',
                        tvalues_format='{:.2f}'):

    rows = sum([[var, f'{var}_t'] for var in ['const'] + reg_order], [])##sum的两个输入参数，后面是表示初始的相加对象
    if reg_names is None:
        reg_names = [f'({i+1})' for i in range(len(reg_lst))]
    show = pd.DataFrame(index=rows, columns=reg_names)##以rows为行reg_names为列构造dataframe
    for reg, reg_name in zip(reg_lst, reg_names):
        df = DF.loc[:, reg].copy()
        T = len(df.index.get_level_values(df.index.names[1]).unique())
        lag = 4*(2/100)**(2/9)
        fmb = FamaMacBeth(df[reg[0]], sm.add_constant(df[reg[1:]]))
        fmb = fmb.fit(cov_type='kernel', bandwidth=lag)


#zip量不同时输出都有的
# list1 = ['a', 'b', 'c']
# list2 = [1, 2,3,4]
# zipped = zip(list2, list1)
# for i in zipped:
#     print(i)
    return lag
FamaMacBeth_summary(DF,reg_lst,reg_order)

NameError: name 'FamaMacBeth' is not defined

In [ ]:
df1 = pd.DataFrame({'x':[1,2],'y':[3,4],'z':[8,5]})
df1=df1.set_index('x')

print(df1)
df2 = pd.DataFrame({'x':[1,6],'y':[7,8],})
df2 = df2.set_index('x')
print(df2)
df3 = pd.DataFrame({'x':[1,2],'y':[3,4],'z':[8,5]})
res1 = pd.concat([df1,df2,df3],axis=1,keys=['z','m','l'])
res1
factors=pd.merge()

In [57]:
from statsmodels.regression.rolling import RollingOLS # 滚动窗口回归
import statsmodels.api as sm
ret=pd.read_csv('汇总1.csv',usecols=[0,1,2])
factors=pd.read_csv('factors.csv',usecols=[0,1,2])
factornames=['date','mkt','tenreturn']
print(factors)
res_ts={}
ret

                 date       mkt  ten_return
0     2010/01/05 0:00  0.005650     -0.0062
1     2010/01/06 0:00 -0.002050      0.0318
2     2010/01/07 0:00 -0.019750      0.0154
3     2010/01/08 0:00  0.006250     -0.0318
4     2010/01/11 0:00  0.001650      0.0215
...               ...       ...         ...
2841  2021/12/27 0:00  0.000832      0.1425
2842  2021/12/28 0:00  0.008232      0.0567
2843  2021/12/29 0:00 -0.008068      0.1075
2844  2021/12/30 0:00  0.009031      0.1670
2845  2021/12/31 0:00  0.005332     -0.0086

[2846 rows x 3 columns]

         code                 date  code_return
0           1  2010-01-05 00:00:00      -0.0173
1        2142  2010-01-05 00:00:00       0.0024
2      600000  2010-01-05 00:00:00       0.0076
3      600015  2010-01-05 00:00:00       0.0252
4      600016  2010-01-05 00:00:00       0.0177
...       ...                  ...          ...
46006  601328  2010-08-09 00:00:00      -0.0092
46007  601398  2010-08-09 00:00:00      -0.0047
46008  601939  2010-08-09 00:00:00      -0.0041
46009  601988  2010-08-09 00:00:00      -0.0057
46010  601998  2010-08-09 00:00:00      -0.0034

[46011 rows x 3 columns]

In [61]:
print(ret)
codelist=ret['code'].unique()
first=ret[ret['code']==codelist[0]]
for i in codelist[1:]:
    first=pd.merge(left=first,right=ret[ret['code']==i],how='inner',on='date')
first['date']
factors['date']=pd.to_datetime(factors['date'],format='%Y/%m/%d %H:%M:%S')
first['date']=pd.to_datetime(first['date'],format='%Y-%m-%d %H:%M:%S')
ret['date']=pd.to_datetime(ret['date'],format='%Y-%m-%d %H:%M:%S')

ret=pd.merge(left=ret,right=first['date'],how='inner',on='date')
factors=pd.merge(left=factors,right=first['date'],how='inner',on='date')
print(ret)
factors

         code       date  code_return
0           1 2010-09-02       0.0388
1        2142 2010-09-02      -0.0038
2      600000 2010-09-02       0.0057
3      600015 2010-09-02       0.0017
4      600016 2010-09-02       0.0019
...       ...        ...          ...
40651  601398 2021-12-31      -0.0022
40652  601818 2021-12-31       0.0000
40653  601939 2021-12-31      -0.0017
40654  601988 2021-12-31       0.0000
40655  601998 2021-12-31       0.0022

[40656 rows x 3 columns]
         code       date  code_return
0           1 2010-09-02       0.0388
1        2142 2010-09-02      -0.0038
2      600000 2010-09-02       0.0057
3      600015 2010-09-02       0.0017
4      600016 2010-09-02       0.0019
...       ...        ...          ...
40651  601398 2021-12-31      -0.0022
40652  601818 2021-12-31       0.0000
40653  601939 2021-12-31      -0.0017
40654  601988 2021-12-31       0.0000
40655  601998 2021-12-31       0.0022

[40656 rows x 3 columns]

E:\Python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'code_return_x', 'code_x'} in the result is deprecated and will raise a MergeError in a future version.
  """

           date       mkt  ten_return
0    2010-09-02  0.018731     -0.0106
1    2010-09-03  0.005331     -0.0010
2    2010-09-06 -0.000469     -0.0174
3    2010-09-07  0.007131     -0.0870
4    2010-09-08  0.007731     -0.0058
...         ...       ...         ...
2536 2021-12-27  0.000832      0.1425
2537 2021-12-28  0.008232      0.0567
2538 2021-12-29 -0.008068      0.1075
2539 2021-12-30  0.009031      0.1670
2540 2021-12-31  0.005332     -0.0086

[2541 rows x 3 columns]

In [59]:
1

1

In [63]:
factors=factors[['mkt','ten_return']]
for stockcode,stockret in ret.groupby('code'):
    trans=stockret['code_return'].tolist()
    trans=pd.DataFrame(trans,columns=['code_return'])
    mod_ts = RollingOLS(trans,sm.add_constant(factors),window=24).fit(cov_type='HAC',use_t=True)
    res_ts[stockcode] = mod_ts.params
# 获取因子载荷序列

betas = pd.concat({k: pd.DataFrame(v) for k, v in res_ts.items()},axis=0,names=['code']) # 所有的参数估计值。这里的names只能对已经有了的索引进行命名
loadings = betas.drop('const',axis=1) # 去掉常数项
loadings

                  mkt  ten_return
code
1      0          NaN         NaN
       1          NaN         NaN
       2          NaN         NaN
       3          NaN         NaN
       4          NaN         NaN
...               ...         ...
601998 2536  0.073522   -0.007918
       2537  0.088027   -0.007224
       2538  0.098329   -0.007488
       2539  0.069860   -0.009307
       2540  0.064703   -0.008807

[40656 rows x 2 columns]

In [64]:
temp = ret.set_index('code',append=True).swaplevel()
temp

                   date  code_return
code
1      0     2010-09-02       0.0388
2142   1     2010-09-02      -0.0038
600000 2     2010-09-02       0.0057
600015 3     2010-09-02       0.0017
600016 4     2010-09-02       0.0019
...                 ...          ...
601398 40651 2021-12-31      -0.0022
601818 40652 2021-12-31       0.0000
601939 40653 2021-12-31      -0.0017
601988 40654 2021-12-31       0.0000
601998 40655 2021-12-31       0.0022

[40656 rows x 2 columns]

In [65]:
temp = temp.groupby('code').shift(1)
temp

                   date  code_return
code
1      0            NaT          NaN
2142   1            NaT          NaN
600000 2            NaT          NaN
600015 3            NaT          NaN
600016 4            NaT          NaN
...                 ...          ...
601398 40651 2021-12-30      -0.0043
601818 40652 2021-12-30       0.0000
601939 40653 2021-12-30       0.0000
601988 40654 2021-12-30       0.0000
601998 40655 2021-12-30      -0.0043

[40656 rows x 2 columns]

In [55]:
fmdata = pd.merge(temp.dropna().reset_index(),loadings.reset_index(),on=['code','date'])
fmdata

KeyError: 'date'

In [7]:
import pandas as pd

In [8]:
monret=pd.read_csv('RESSET_MRESSTK_all.csv',usecols=[0,2,3,4,5,6],encoding='utf-8')
beta=pd.read_csv('RESSET_SMONRETBETA_BFDT12_all.csv',encoding='utf-8')
monret.columns=['stkcode','date','close','tshare','monret','pe']
beta.columns=['stkcode','date','beta']
monret['date']=pd.to_datetime(monret['date'],format='%Y/%m/%d')
monret['date']=monret['date'].dt.strftime('%Y%m').astype(int)
monret['size']=monret['close']*monret['tshare']
monret['ep']=1/monret['pe']
monret=monret[['stkcode','date','monret','size','ep']]
monret.dropna(inplace=True)
monret

        stkcode    date  monret          size        ep
0             1  200001  0.0619  1.985739e+10  0.019309
1             1  200002 -0.0113  1.963234e+10  0.019531
2             1  200003  0.0027  1.968592e+10  0.019478
3             1  200004  0.0370  2.041464e+10  0.017718
4             1  200005 -0.0551  1.928942e+10  0.018751
...         ...     ...     ...           ...       ...
592718   900957  202108 -0.0589  1.116880e+08  0.018720
592719   900957  202109  0.0906  1.218080e+08  0.017120
592720   900957  202110 -0.0408  1.168400e+08  0.015647
592721   900957  202111 -0.0409  1.120560e+08  0.016345
592722   900957  202112  0.0361  1.161040e+08  0.015783

[571479 rows x 5 columns]

In [9]:
beta['date']=pd.to_datetime(beta['date'],format='%Y/%m/%d')
beta['date']=beta['date'].dt.strftime('%Y%m').astype(int)
beta.dropna()
beta

        stkcode    date    beta
0             1  200001  1.3269
1             1  200002  1.2640
2             1  200003  1.2676
3             1  200004  1.2784
4             1  200005  1.1890
...         ...     ...     ...
535164   900957  202108 -0.6000
535165   900957  202109 -0.9615
535166   900957  202110 -0.7221
535167   900957  202111 -1.4672
535168   900957  202112 -1.3773

[535169 rows x 3 columns]

In [10]:
panel=pd.merge(left=monret,right=beta,on=['stkcode','date'],how='inner')
panel

        stkcode    date  monret          size        ep    beta
0             1  200001  0.0619  1.985739e+10  0.019309  1.3269
1             1  200002 -0.0113  1.963234e+10  0.019531  1.2640
2             1  200003  0.0027  1.968592e+10  0.019478  1.2676
3             1  200004  0.0370  2.041464e+10  0.017718  1.2784
4             1  200005 -0.0551  1.928942e+10  0.018751  1.1890
...         ...     ...     ...           ...       ...     ...
534365   900957  202108 -0.0589  1.116880e+08  0.018720 -0.6000
534366   900957  202109  0.0906  1.218080e+08  0.017120 -0.9615
534367   900957  202110 -0.0408  1.168400e+08  0.015647 -0.7221
534368   900957  202111 -0.0409  1.120560e+08  0.016345 -1.4672
534369   900957  202112  0.0361  1.161040e+08  0.015783 -1.3773

[534370 rows x 6 columns]

In [11]:
import statsmodels.api as sm
coefficient=[]
for date in panel['date'].unique():
    panel_date=panel[panel['date']==date]
    X=panel_date[['size','ep','beta']]
    X=sm.add_constant(X)
    Y=panel_date['monret']
    result=sm.OLS(Y,X).fit()
    coefficient.append(result.params)
coefficient=pd.DataFrame(coefficient,columns=['const','size','ep','beta'])
coefficient

        const          size        ep      beta
0   -0.028908  2.706794e-11  0.151357  0.150815
1    0.088102  1.410143e-11 -0.044479  0.018328
2    0.177329 -1.374837e-11 -0.306896 -0.054933
3    0.037395  1.351040e-11  0.155326 -0.042211
4    0.069028 -2.060338e-11  0.136973  0.018272
..        ...           ...       ...       ...
259 -0.021313  1.262353e-13 -0.013304 -0.003581
260  0.083763 -2.534541e-13 -0.025108  0.021680
261  0.038268 -3.333640e-14 -0.071991  0.005694
262  0.057655 -1.050947e-13  0.107436  0.099658
263  0.111225 -1.832814e-13 -0.389525 -0.007620

[264 rows x 4 columns]

In [12]:
from scipy import stats
result=[]
for factor in coefficient.columns:
    t_test_result, p_value=stats.ttest_1samp(coefficient[factor],0)
    result.append(factor+':  t_statistic:'+str(t_test_result)+'   p_value:'+str(p_value))
result

['const:  t_statistic:0.7631101972892858   p_value:0.4460816261704841',
 'size:  t_statistic:1.9299761192647984   p_value:0.05468514305777287',
 'ep:  t_statistic:-0.8640830459728995   p_value:0.3883296475253617',
 'beta:  t_statistic:2.0395581163718233   p_value:0.0423937550458561']

In [124]:
merge

        stkcode    date  monret    beta
0             1  200001  0.0619  1.3269
1             1  200002 -0.0113  1.2640
2             1  200003  0.0027  1.2676
3             1  200004  0.0370  1.2784
4             1  200005 -0.0551  1.1890
...         ...     ...     ...     ...
535164   900957  202108 -0.0589 -0.6000
535165   900957  202109  0.0906 -0.9615
535166   900957  202110 -0.0408 -0.7221
535167   900957  202111 -0.0409 -1.4672
535168   900957  202112  0.0361 -1.3773

[535169 rows x 4 columns]

In [125]:
panel=merge
panel

        stkcode    date  monret    beta
0             1  200001  0.0619  1.3269
1             1  200002 -0.0113  1.2640
2             1  200003  0.0027  1.2676
3             1  200004  0.0370  1.2784
4             1  200005 -0.0551  1.1890
...         ...     ...     ...     ...
535164   900957  202108 -0.0589 -0.6000
535165   900957  202109  0.0906 -0.9615
535166   900957  202110 -0.0408 -0.7221
535167   900957  202111 -0.0409 -1.4672
535168   900957  202112  0.0361 -1.3773

[535169 rows x 4 columns]

In [126]:
panel['date']=pd.to_datetime(panel['date'],format='%Y%m')##format不要忘了！！！！！！！
panel

        stkcode       date  monret    beta
0             1 2000-01-01  0.0619  1.3269
1             1 2000-02-01 -0.0113  1.2640
2             1 2000-03-01  0.0027  1.2676
3             1 2000-04-01  0.0370  1.2784
4             1 2000-05-01 -0.0551  1.1890
...         ...        ...     ...     ...
535164   900957 2021-08-01 -0.0589 -0.6000
535165   900957 2021-09-01  0.0906 -0.9615
535166   900957 2021-10-01 -0.0408 -0.7221
535167   900957 2021-11-01 -0.0409 -1.4672
535168   900957 2021-12-01  0.0361 -1.3773

[535169 rows x 4 columns]

In [127]:
panel=panel.set_index(['stkcode','date'])
panel

                    monret    beta
stkcode date
1       2000-01-01  0.0619  1.3269
        2000-02-01 -0.0113  1.2640
        2000-03-01  0.0027  1.2676
        2000-04-01  0.0370  1.2784
        2000-05-01 -0.0551  1.1890
...                    ...     ...
900957  2021-08-01 -0.0589 -0.6000
        2021-09-01  0.0906 -0.9615
        2021-10-01 -0.0408 -0.7221
        2021-11-01 -0.0409 -1.4672
        2021-12-01  0.0361 -1.3773

[535169 rows x 2 columns]

In [132]:
newmonret=panel['monret']
newmonret

stkcode  date
1        2000-01-01    0.0619
         2000-02-01   -0.0113
         2000-03-01    0.0027
         2000-04-01    0.0370
         2000-05-01   -0.0551
                        ...
900957   2021-08-01   -0.0589
         2021-09-01    0.0906
         2021-10-01   -0.0408
         2021-11-01   -0.0409
         2021-12-01    0.0361
Name: monret, Length: 535169, dtype: float64

In [133]:
newbeta=panel['beta']
newbeta

stkcode  date
1        2000-01-01    1.3269
         2000-02-01    1.2640
         2000-03-01    1.2676
         2000-04-01    1.2784
         2000-05-01    1.1890
                        ...
900957   2021-08-01   -0.6000
         2021-09-01   -0.9615
         2021-10-01   -0.7221
         2021-11-01   -1.4672
         2021-12-01   -1.3773
Name: beta, Length: 535169, dtype: float64

In [135]:
mod=FamaMacBeth(newmonret,sm.add_constant(newbeta))
res=mod.fit()
res.summary
?

E:\Python37\lib\site-packages\linearmodels\shared\exceptions.py:37: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

<class 'linearmodels.compat.statsmodels.Summary'>
"""
                             FamaMacBeth Estimation Summary
=======================================================================================
Dep. Variable:                        monret   R-squared:                        0.0007
Estimator:                       FamaMacBeth   R-squared (Between):              0.0008
No. Observations:                     535157   R-squared (Within):               0.0005
Date:                       Mon, Apr 17 2023   R-squared (Overall):              0.0007
Time:                               14:36:40   Log-likelihood                 2.489e+05
Cov. Estimator:    Fama-MacBeth Standard Cov
                                               F-statistic:                      369.58
Entities:                               4075   P-value                           0.0000
Avg Obs:                              131.33   Distribution:                F(1,535155)
Min Obs:                              1.0000
Max Obs:                              264.00   F-statistic (robust):             3.7894
                                               P-value                           0.0516
Time periods:                            264   Distribution:                F(1,535155)
Avg Obs:                              2027.1
Min Obs:                              840.00
Max Obs:                              4008.0

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          0.0039     0.0037     1.0558     0.2910     -0.0034      0.0113
beta           0.0096     0.0049     1.9466     0.0516   -6.59e-05      0.0193
==============================================================================
"""

In [136]:
?FamaMacBeth

In [3]:
import pandas as pd
m=pd.DataFrame({'a':[1,2,3],'b':[1,2,3]})
l=m.loc[:,['a']]
l

   a
0  1
1  2
2  3

In [6]:
a=[1,2,3]
b=[1,2,3]
l=zip(a,b)
l
for m,p in l:
    print(m,p)

(1, 1)
(2, 2)
(3, 3)