In [312]:
import numpy as np
import pandas as pd
from math import pi
import warnings
warnings.filterwarnings('ignore')
import statsmodels.api as sm
import statsmodels.formula.api as smf
import sklearn.linear_model as sklm
import matplotlib.pyplot as plt

In [313]:
month_raw=pd.read_excel('E:\大三下study\蒋志强\实验4\data\第二小题\month+beta.xlsx')
month_raw

,日期_Date,成交金额_Trdsum,总股数月换手率(%)_MonFulTurnR,月收益率_Monret,月无风险收益率_Monrfret,市盈率_PE,每股收益(摊薄)(元/股)_EPS,净资产收益率(摊薄)_ROE,每股营业收入(元/股)_IncomePS,风险因子_总市值加权_持有期收益_Beta_mc_h
0,2001-01-19,219330452,4.0290,0.0237,0.001650,62.02,0.41,12.9342,9.36,0.9937
1,2001-02-28,94274703,1.7169,0.0008,0.001650,62.07,0.63,14.3911,22.04,0.9638
2,2001-03-30,173656617,3.0894,0.0497,0.001650,65.15,0.63,14.3911,13.77,0.9515
3,2001-04-30,121849146,2.1684,-0.0607,0.001650,55.50,0.63,14.3911,13.77,0.9612
4,2001-05-31,122642364,2.2173,0.0067,0.001650,55.87,0.63,14.3911,13.77,0.9716
...,...,...,...,...,...,...,...,...,...,...
252,2022-08-31,1738124722,15.1723,0.0226,0.001366,22.74,0.07,1.5237,3.64,0.9284
253,2022-09-30,1185048955,9.0525,-0.1155,0.001342,23.72,0.07,1.5237,3.09,0.9805
254,2022-10-31,629833346,4.9947,0.0139,0.001413,20.36,0.09,2.0465,4.28,0.9228
255,2022-11-30,1462544261,11.4118,0.0301,0.001676,20.97,0.09,2.0465,4.28,0.8593
256,2022-12-30,1629635501,12.7485,-0.0505,0.001931,19.91,0.09,2.0465,4.28,0.8355

In [314]:
month_raw.columns=['date','trdsum','monfulturnr','monret','monrfret','pe','eps','roe','incomeps','beta']
month_raw

,date,trdsum,monfulturnr,monret,monrfret,pe,eps,roe,incomeps,beta
0,2001-01-19,219330452,4.0290,0.0237,0.001650,62.02,0.41,12.9342,9.36,0.9937
1,2001-02-28,94274703,1.7169,0.0008,0.001650,62.07,0.63,14.3911,22.04,0.9638
2,2001-03-30,173656617,3.0894,0.0497,0.001650,65.15,0.63,14.3911,13.77,0.9515
3,2001-04-30,121849146,2.1684,-0.0607,0.001650,55.50,0.63,14.3911,13.77,0.9612
4,2001-05-31,122642364,2.2173,0.0067,0.001650,55.87,0.63,14.3911,13.77,0.9716
...,...,...,...,...,...,...,...,...,...,...
252,2022-08-31,1738124722,15.1723,0.0226,0.001366,22.74,0.07,1.5237,3.64,0.9284
253,2022-09-30,1185048955,9.0525,-0.1155,0.001342,23.72,0.07,1.5237,3.09,0.9805
254,2022-10-31,629833346,4.9947,0.0139,0.001413,20.36,0.09,2.0465,4.28,0.9228
255,2022-11-30,1462544261,11.4118,0.0301,0.001676,20.97,0.09,2.0465,4.28,0.8593
256,2022-12-30,1629635501,12.7485,-0.0505,0.001931,19.91,0.09,2.0465,4.28,0.8355

In [315]:
month_raw['date']=pd.to_datetime(month_raw['date'],format='%Y-%m-%d')
month_raw['date']=month_raw['date'].dt.strftime('%Y%m')
month_raw

,date,trdsum,monfulturnr,monret,monrfret,pe,eps,roe,incomeps,beta
0,200101,219330452,4.0290,0.0237,0.001650,62.02,0.41,12.9342,9.36,0.9937
1,200102,94274703,1.7169,0.0008,0.001650,62.07,0.63,14.3911,22.04,0.9638
2,200103,173656617,3.0894,0.0497,0.001650,65.15,0.63,14.3911,13.77,0.9515
3,200104,121849146,2.1684,-0.0607,0.001650,55.50,0.63,14.3911,13.77,0.9612
4,200105,122642364,2.2173,0.0067,0.001650,55.87,0.63,14.3911,13.77,0.9716
...,...,...,...,...,...,...,...,...,...,...
252,202208,1738124722,15.1723,0.0226,0.001366,22.74,0.07,1.5237,3.64,0.9284
253,202209,1185048955,9.0525,-0.1155,0.001342,23.72,0.07,1.5237,3.09,0.9805
254,202210,629833346,4.9947,0.0139,0.001413,20.36,0.09,2.0465,4.28,0.9228
255,202211,1462544261,11.4118,0.0301,0.001676,20.97,0.09,2.0465,4.28,0.8593
256,202212,1629635501,12.7485,-0.0505,0.001931,19.91,0.09,2.0465,4.28,0.8355

In [316]:
raw_daily=pd.read_excel(r'E:\大三下study\蒋志强\实验4\data\第二小题\2001_2022.xlsx')
raw_daily.dropna(inplace=True)
raw_daily

      股票代码_Stkcd     日期_Date  收盘价_Clpr  日收益率_Dret
0         600120  2001-01-02     38.00     0.0000
1         600120  2001-01-03     37.85    -0.0039
2         600120  2001-01-04     37.90     0.0013
3         600120  2001-01-05     37.88    -0.0005
4         600120  2001-01-08     37.92     0.0011
...          ...         ...       ...        ...
5385      600120  2022-12-26      3.55    -0.0028
5386      600120  2022-12-27      3.59     0.0113
5387      600120  2022-12-28      3.57    -0.0056
5388      600120  2022-12-29      3.54    -0.0084
5389      600120  2022-12-30      3.57     0.0085

[5092 rows x 4 columns]

In [317]:
raw_daily.columns=['stk','date','close','dret']
raw_daily=raw_daily.iloc[:,1:]
raw_daily['date']=pd.to_datetime(raw_daily['date'],format='%Y-%m-%d')
raw_daily['yearmonth']=raw_daily['date'].dt.strftime('%Y%m')
raw_daily

           date  close    dret yearmonth
0    2001-01-02  38.00  0.0000    200101
1    2001-01-03  37.85 -0.0039    200101
2    2001-01-04  37.90  0.0013    200101
3    2001-01-05  37.88 -0.0005    200101
4    2001-01-08  37.92  0.0011    200101
...         ...    ...     ...       ...
5385 2022-12-26   3.55 -0.0028    202212
5386 2022-12-27   3.59  0.0113    202212
5387 2022-12-28   3.57 -0.0056    202212
5388 2022-12-29   3.54 -0.0084    202212
5389 2022-12-30   3.57  0.0085    202212

[5092 rows x 4 columns]

In [318]:
dailynomonth=np.unique(raw_daily['yearmonth'])
dailydata=pd.DataFrame(dailynomonth)
dailydata

          0
0    200101
1    200102
2    200103
3    200104
4    200105
..      ...
252  202208
253  202209
254  202210
255  202211
256  202212

[257 rows x 1 columns]

In [319]:
dailydata.columns=['yearmonth']
dailydata

    yearmonth
0      200101
1      200102
2      200103
3      200104
4      200105
..        ...
252    202208
253    202209
254    202210
255    202211
256    202212

[257 rows x 1 columns]

In [320]:
dailynomonth=np.unique(raw_daily['yearmonth'])
volatility={}
volatility3={}
monthnum={}
for i in dailynomonth:
    in_month_dataseries=raw_daily[raw_daily['yearmonth']==i]
    dretlist=in_month_dataseries['dret'].values
    volatility[i]=np.sum(dretlist**2)
    volatility3[i]=np.sum(dretlist**3)
    monthnum[i]=len(dretlist)

In [321]:
tempo={}
tempo['yearmonth']=volatility.keys()
tempo['volatility']=volatility.values()
volatility=pd.DataFrame(tempo)
tempo={}
tempo['yearmonth']=volatility3.keys()
tempo['volatility3']=volatility3.values()
volatility3=pd.DataFrame(tempo)
tempo={}
tempo['yearmonth']=monthnum.keys()
tempo['monthnum']=monthnum.values()
monthnum=pd.DataFrame(tempo)
del tempo

In [322]:
month_raw.columns=['yearmonth','trdsum','monfulturnr','monret','monrfret','pe','eps','roe','incomeps','beta']
month_raw=pd.merge(left=month_raw,right=volatility,on='yearmonth',how='inner')
month_raw=pd.merge(left=month_raw,right=volatility3,on='yearmonth',how='inner')
month_raw=pd.merge(left=month_raw,right=monthnum,on='yearmonth',how='inner')
month_raw['RSkew']=np.sqrt(month_raw['monthnum'])*month_raw['volatility3']/(month_raw['volatility']**1.5)
month_raw

,yearmonth,trdsum,monfulturnr,monret,monrfret,pe,eps,roe,incomeps,beta,volatility,volatility3,monthnum,RSkew
0,200101,219330452,4.0290,0.0237,0.001650,62.02,0.41,12.9342,9.36,0.9937,0.001547,0.000032,14,1.946324
1,200102,94274703,1.7169,0.0008,0.001650,62.07,0.63,14.3911,22.04,0.9638,0.000770,0.000007,18,1.333095
2,200103,173656617,3.0894,0.0497,0.001650,65.15,0.63,14.3911,13.77,0.9515,0.000870,0.000007,21,1.161395
3,200104,121849146,2.1684,-0.0607,0.001650,55.50,0.63,14.3911,13.77,0.9612,0.002895,-0.000024,21,-0.691407
4,200105,122642364,2.2173,0.0067,0.001650,55.87,0.63,14.3911,13.77,0.9716,0.002996,0.000010,18,0.265493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,202208,1738124722,15.1723,0.0226,0.001366,22.74,0.07,1.5237,3.64,0.9284,0.008940,-0.000010,23,-0.055562
253,202209,1185048955,9.0525,-0.1155,0.001342,23.72,0.07,1.5237,3.09,0.9805,0.004417,-0.000069,21,-1.076543
254,202210,629833346,4.9947,0.0139,0.001413,20.36,0.09,2.0465,4.28,0.9228,0.004023,-0.000007,16,-0.113187
255,202211,1462544261,11.4118,0.0301,0.001676,20.97,0.09,2.0465,4.28,0.8593,0.002728,0.000032,22,1.050587
256,202212,1629635501,12.7485,-0.0505,0.001931,19.91,0.09,2.0465,4.28,0.8355,0.004465,0.000077,22,1.202929

In [323]:
month_raw['liquidity']=month_raw['monret']/np.log(month_raw['trdsum'])
month_raw

,yearmonth,trdsum,monfulturnr,monret,monrfret,pe,eps,roe,incomeps,beta,volatility,volatility3,monthnum,RSkew,liquidity
0,200101,219330452,4.0290,0.0237,0.001650,62.02,0.41,12.9342,9.36,0.9937,0.001547,0.000032,14,1.946324,0.001234
1,200102,94274703,1.7169,0.0008,0.001650,62.07,0.63,14.3911,22.04,0.9638,0.000770,0.000007,18,1.333095,0.000044
2,200103,173656617,3.0894,0.0497,0.001650,65.15,0.63,14.3911,13.77,0.9515,0.000870,0.000007,21,1.161395,0.002620
3,200104,121849146,2.1684,-0.0607,0.001650,55.50,0.63,14.3911,13.77,0.9612,0.002895,-0.000024,21,-0.691407,-0.003260
4,200105,122642364,2.2173,0.0067,0.001650,55.87,0.63,14.3911,13.77,0.9716,0.002996,0.000010,18,0.265493,0.000360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,202208,1738124722,15.1723,0.0226,0.001366,22.74,0.07,1.5237,3.64,0.9284,0.008940,-0.000010,23,-0.055562,0.001062
253,202209,1185048955,9.0525,-0.1155,0.001342,23.72,0.07,1.5237,3.09,0.9805,0.004417,-0.000069,21,-1.076543,-0.005528
254,202210,629833346,4.9947,0.0139,0.001413,20.36,0.09,2.0465,4.28,0.9228,0.004023,-0.000007,16,-0.113187,0.000686
255,202211,1462544261,11.4118,0.0301,0.001676,20.97,0.09,2.0465,4.28,0.8593,0.002728,0.000032,22,1.050587,0.001426
256,202212,1629635501,12.7485,-0.0505,0.001931,19.91,0.09,2.0465,4.28,0.8355,0.004465,0.000077,22,1.202929,-0.002381

In [324]:
month_peak={}
for i in dailynomonth:
    # month_peak[i]=np.max(raw_daily['yearmonth']==i)
    closeseries=raw_daily[raw_daily['yearmonth']==i]['close']
    month_peak[i]=np.max(closeseries)
month_peak1={}
month_peak1['yearmonth']=month_peak.keys()
month_peak1['peakclose']=month_peak.values()
month_peak=pd.DataFrame(month_peak1)
month_raw=pd.merge(left=month_raw,right=month_peak,on='yearmonth',how='inner')
month_raw['peakpoint']=month_raw['peakclose'].shift(periods=1)
month_raw.dropna(inplace=True)
month_raw['peakpoint']=month_raw['peakclose']/month_raw['peakpoint'].rolling(window=3).max()
month_raw.dropna(inplace=True)
month_raw

,yearmonth,trdsum,monfulturnr,monret,monrfret,pe,eps,roe,incomeps,beta,volatility,volatility3,monthnum,RSkew,liquidity,peakclose,peakpoint
3,200104,121849146,2.1684,-0.0607,0.001650,55.50,0.63,14.3911,13.77,0.9612,0.002895,-0.000024,21,-0.691407,-0.003260,25.85,0.636700
4,200105,122642364,2.2173,0.0067,0.001650,55.87,0.63,14.3911,13.77,0.9716,0.002996,0.000010,18,0.265493,0.000360,25.26,0.622167
5,200106,161705781,2.8931,0.0364,0.001650,57.90,0.63,14.3911,13.77,0.9716,0.004116,0.000110,21,1.901342,0.001926,25.40,0.625616
6,200107,75414558,1.3354,-0.1131,0.001650,46.98,0.32,10.4062,6.25,0.9704,0.003630,-0.000087,22,-1.864609,-0.006235,25.72,0.994971
7,200108,138265557,2.8900,-0.0752,0.001650,43.45,0.32,10.4062,6.25,1.0312,0.006786,-0.000247,23,-2.119557,-0.004012,22.45,0.872862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,202208,1738124722,15.1723,0.0226,0.001366,22.74,0.07,1.5237,3.64,0.9284,0.008940,-0.000010,23,-0.055562,0.001062,4.11,0.944828
253,202209,1185048955,9.0525,-0.1155,0.001342,23.72,0.07,1.5237,3.09,0.9805,0.004417,-0.000069,21,-1.076543,-0.005528,4.06,0.933333
254,202210,629833346,4.9947,0.0139,0.001413,20.36,0.09,2.0465,4.28,0.9228,0.004023,-0.000007,16,-0.113187,0.000686,3.84,0.882759
255,202211,1462544261,11.4118,0.0301,0.001676,20.97,0.09,2.0465,4.28,0.8593,0.002728,0.000032,22,1.050587,0.001426,3.85,0.936740
256,202212,1629635501,12.7485,-0.0505,0.001931,19.91,0.09,2.0465,4.28,0.8355,0.004465,0.000077,22,1.202929,-0.002381,3.91,0.963054

In [325]:
month_raw.dropna(inplace=True)
month_raw

,yearmonth,trdsum,monfulturnr,monret,monrfret,pe,eps,roe,incomeps,beta,volatility,volatility3,monthnum,RSkew,liquidity,peakclose,peakpoint
3,200104,121849146,2.1684,-0.0607,0.001650,55.50,0.63,14.3911,13.77,0.9612,0.002895,-0.000024,21,-0.691407,-0.003260,25.85,0.636700
4,200105,122642364,2.2173,0.0067,0.001650,55.87,0.63,14.3911,13.77,0.9716,0.002996,0.000010,18,0.265493,0.000360,25.26,0.622167
5,200106,161705781,2.8931,0.0364,0.001650,57.90,0.63,14.3911,13.77,0.9716,0.004116,0.000110,21,1.901342,0.001926,25.40,0.625616
6,200107,75414558,1.3354,-0.1131,0.001650,46.98,0.32,10.4062,6.25,0.9704,0.003630,-0.000087,22,-1.864609,-0.006235,25.72,0.994971
7,200108,138265557,2.8900,-0.0752,0.001650,43.45,0.32,10.4062,6.25,1.0312,0.006786,-0.000247,23,-2.119557,-0.004012,22.45,0.872862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,202208,1738124722,15.1723,0.0226,0.001366,22.74,0.07,1.5237,3.64,0.9284,0.008940,-0.000010,23,-0.055562,0.001062,4.11,0.944828
253,202209,1185048955,9.0525,-0.1155,0.001342,23.72,0.07,1.5237,3.09,0.9805,0.004417,-0.000069,21,-1.076543,-0.005528,4.06,0.933333
254,202210,629833346,4.9947,0.0139,0.001413,20.36,0.09,2.0465,4.28,0.9228,0.004023,-0.000007,16,-0.113187,0.000686,3.84,0.882759
255,202211,1462544261,11.4118,0.0301,0.001676,20.97,0.09,2.0465,4.28,0.8593,0.002728,0.000032,22,1.050587,0.001426,3.85,0.936740
256,202212,1629635501,12.7485,-0.0505,0.001931,19.91,0.09,2.0465,4.28,0.8355,0.004465,0.000077,22,1.202929,-0.002381,3.91,0.963054

In [326]:
month_final=month_raw[['yearmonth','monret','monrfret','pe','eps','roe','incomeps','monfulturnr','beta','volatility','liquidity','peakpoint','RSkew']]
month_final

,yearmonth,monret,monrfret,pe,eps,roe,incomeps,monfulturnr,beta,volatility,liquidity,peakpoint,RSkew
3,200104,-0.0607,0.001650,55.50,0.63,14.3911,13.77,2.1684,0.9612,0.002895,-0.003260,0.636700,-0.691407
4,200105,0.0067,0.001650,55.87,0.63,14.3911,13.77,2.2173,0.9716,0.002996,0.000360,0.622167,0.265493
5,200106,0.0364,0.001650,57.90,0.63,14.3911,13.77,2.8931,0.9716,0.004116,0.001926,0.625616,1.901342
6,200107,-0.1131,0.001650,46.98,0.32,10.4062,6.25,1.3354,0.9704,0.003630,-0.006235,0.994971,-1.864609
7,200108,-0.0752,0.001650,43.45,0.32,10.4062,6.25,2.8900,1.0312,0.006786,-0.004012,0.872862,-2.119557
...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,202208,0.0226,0.001366,22.74,0.07,1.5237,3.64,15.1723,0.9284,0.008940,0.001062,0.944828,-0.055562
253,202209,-0.1155,0.001342,23.72,0.07,1.5237,3.09,9.0525,0.9805,0.004417,-0.005528,0.933333,-1.076543
254,202210,0.0139,0.001413,20.36,0.09,2.0465,4.28,4.9947,0.9228,0.004023,0.000686,0.882759,-0.113187
255,202211,0.0301,0.001676,20.97,0.09,2.0465,4.28,11.4118,0.8593,0.002728,0.001426,0.936740,1.050587
256,202212,-0.0505,0.001931,19.91,0.09,2.0465,4.28,12.7485,0.8355,0.004465,-0.002381,0.963054,1.202929

In [327]:
def myfun_stat_gains(rout, rmean, rreal):
    R2os = 1 - np.sum((rreal-rout)**2)/np.sum((rreal-rmean)**2)
    d = (rreal - rmean)**2 - ((rreal-rout)**2 - (rmean-rout)**2)
    x = sm.add_constant(np.arange(len(d))+1)
    model = sm.OLS(d, x)
    fitres = model.fit()
    MFSEadj = fitres.tvalues[0]
    pvalue_MFSEadj = fitres.pvalues[0]

    if (R2os > 0) & (pvalue_MFSEadj <= 0.01):
        jud = '在1%的显著性水平下有样本外预测能力'
    elif (R2os > 0) & (pvalue_MFSEadj > 0.01) & (pvalue_MFSEadj <= 0.05):
        jud = '在5%的显著性水平下有样本外预测能力'
    elif (R2os > 0) & (pvalue_MFSEadj > 0.05) & (pvalue_MFSEadj <= 0.1):
        jud = '在10%的显著性水平下有样本外预测能力'
    else:
        jud = '无样本外预测能力'
    print('Stat gains: R2os = {:f}, MFSEadj = {:f}, MFSEpvalue = {:f}'.format(R2os, MFSEadj, pvalue_MFSEadj))
    print('Inference: {:s}'.format(jud))

    return R2os, MFSEadj, pvalue_MFSEadj

In [328]:
def myfun_econ_gains(rout, rmean, rreal, rfree, volt2, gmm = 5):
    omg_out = rout/volt2/gmm
    rp_out = rfree + omg_out*rreal
    Uout = np.mean(rp_out) - 0.5*gmm*np.var(rp_out)
    omg_mean = rmean/volt2/gmm
    rp_mean = rfree + omg_mean*rreal
    Umean = np.mean(rp_mean) - 0.5*gmm*np.var(rp_mean)
    DeltaU = Uout - Umean

    if DeltaU < 10**-6:
        jud = '没有经济意义'
    else:
        jud = '有经济意义'
    print('Econ Gains: Delta U = {:f}, Upred = {:f}, Umean = {:f}'.format(DeltaU, Uout, Umean))
    print('Inference: {:s}'.format(jud))

    return Uout, Umean, DeltaU

In [329]:
data=month_final
data['Exret']=data['monret']-data['monrfret']
data=data[['yearmonth','monret','monrfret','Exret','pe','eps','roe','incomeps','monfulturnr','beta','volatility','liquidity','peakpoint','RSkew']]
data

,yearmonth,monret,monrfret,Exret,pe,eps,roe,incomeps,monfulturnr,beta,volatility,liquidity,peakpoint,RSkew
3,200104,-0.0607,0.001650,-0.062350,55.50,0.63,14.3911,13.77,2.1684,0.9612,0.002895,-0.003260,0.636700,-0.691407
4,200105,0.0067,0.001650,0.005050,55.87,0.63,14.3911,13.77,2.2173,0.9716,0.002996,0.000360,0.622167,0.265493
5,200106,0.0364,0.001650,0.034750,57.90,0.63,14.3911,13.77,2.8931,0.9716,0.004116,0.001926,0.625616,1.901342
6,200107,-0.1131,0.001650,-0.114750,46.98,0.32,10.4062,6.25,1.3354,0.9704,0.003630,-0.006235,0.994971,-1.864609
7,200108,-0.0752,0.001650,-0.076850,43.45,0.32,10.4062,6.25,2.8900,1.0312,0.006786,-0.004012,0.872862,-2.119557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,202208,0.0226,0.001366,0.021234,22.74,0.07,1.5237,3.64,15.1723,0.9284,0.008940,0.001062,0.944828,-0.055562
253,202209,-0.1155,0.001342,-0.116842,23.72,0.07,1.5237,3.09,9.0525,0.9805,0.004417,-0.005528,0.933333,-1.076543
254,202210,0.0139,0.001413,0.012487,20.36,0.09,2.0465,4.28,4.9947,0.9228,0.004023,0.000686,0.882759,-0.113187
255,202211,0.0301,0.001676,0.028424,20.97,0.09,2.0465,4.28,11.4118,0.8593,0.002728,0.001426,0.936740,1.050587
256,202212,-0.0505,0.001931,-0.052431,19.91,0.09,2.0465,4.28,12.7485,0.8355,0.004465,-0.002381,0.963054,1.202929

In [330]:
# 样本内检验
# 单因子模型：OLS线性拟合
for i in data.columns[4:]:
    factor=i
    model = smf.ols(f'Exret ~ {i}', data=data[['Exret', i]])
    results = model.fit()
    rg_con = results.params['Intercept']
    rg_con_pvalue = results.pvalues['Intercept']
    rg_i = results.params[i]
    rg_i_pvalue = results.pvalues[i]
    if rg_i_pvalue <= 0.01:
        jud = '在1%的显著性水平下有样本内预测能力'
    elif (rg_i_pvalue > 0.01) & (rg_i_pvalue <= 0.05):
        jud = '在5%的显著性水平下有样本内预测能力'
    elif (rg_i_pvalue > 0.05) & (rg_i_pvalue <= 0.1):
        jud = '在10%的显著性水平下有样本内预测能力'
    else:
        jud = '无样本内预测能力'
    print('In-sample tests for one factor model with OLS:')
    print('Predictor: {:s}'.format(factor))
    print('Regressing Results: b = {:f}, k = {:f}'.format(rg_con, rg_i))
    print('Regressing Pvalues: p = {:f}, p = {:f}'.format(rg_con_pvalue, rg_i_pvalue))
    print('Inference: {:s}'.format(jud))

In-sample tests for one factor model with OLS:
Predictor: pe
Regressing Results: b = -0.035785, k = 0.001706
Regressing Pvalues: p = 0.064039, p = 0.007857
Inference: 在1%的显著性水平下有样本内预测能力
In-sample tests for one factor model with OLS:
Predictor: eps
Regressing Results: b = 0.010229, k = -0.002028
Regressing Pvalues: p = 0.452604, p = 0.952433
Inference: 无样本内预测能力
In-sample tests for one factor model with OLS:
Predictor: roe
Regressing Results: b = 0.009054, k = 0.000113
Regressing Pvalues: p = 0.609831, p = 0.969530
Inference: 无样本内预测能力
In-sample tests for one factor model with OLS:
Predictor: incomeps
Regressing Results: b = -0.000299, k = 0.001719
Regressing Pvalues: p = 0.986288, p = 0.501143
Inference: 无样本内预测能力
In-sample tests for one factor model with OLS:
Predictor: monfulturnr
Regressing Results: b = -0.046844, k = 0.002139
Regressing Pvalues: p = 0.000159, p = 0.000000
Inference: 在1%的显著性水平下有样本内预测能力
In-sample tests for one factor model with OLS:
Predictor: beta
Regressing Results: b = -0.048494, k = 0.057102
Regressing Pvalues: p = 0.066496, p = 0.019265
Inference: 在5%的显著性水平下有样本内预测能力
In-sample tests for one factor model with OLS:
Predictor: volatility
Regressing Results: b = -0.008093, k = 1.030551
Regressing Pvalues: p = 0.513433, p = 0.034130
Inference: 在5%的显著性水平下有样本内预测能力
In-sample tests for one factor model with OLS:
Predictor: liquidity
Regressing Results: b = -0.000804, k = 21.355018
Regressing Pvalues: p = 0.187262, p = 0.000000
Inference: 在1%的显著性水平下有样本内预测能力
In-sample tests for one factor model with OLS:
Predictor: peakpoint
Regressing Results: b = -0.396841, k = 0.443818
Regressing Pvalues: p = 0.000000, p = 0.000000
Inference: 在1%的显著性水平下有样本内预测能力
In-sample tests for one factor model with OLS:
Predictor: RSkew
Regressing Results: b = 0.002258, k = 0.089842
Regressing Pvalues: p = 0.765616, p = 0.000000
Inference: 在1%的显著性水平下有样本内预测能力

In [331]:
data = pd.concat([data[['yearmonth','monret','monrfret','Exret','pe','eps','roe','incomeps','monfulturnr','beta','volatility','liquidity','peakpoint','RSkew']],
                  data[['pe','eps','roe','incomeps','monfulturnr','beta','volatility','liquidity','peakpoint','RSkew']].shift(periods=1)], axis=1)
data

,yearmonth,monret,monrfret,Exret,pe,eps,roe,incomeps,monfulturnr,beta,...,pe,eps,roe,incomeps,monfulturnr,beta,volatility,liquidity,peakpoint,RSkew
3,200104,-0.0607,0.001650,-0.062350,55.50,0.63,14.3911,13.77,2.1684,0.9612,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200105,0.0067,0.001650,0.005050,55.87,0.63,14.3911,13.77,2.2173,0.9716,...,55.50,0.63,14.3911,13.77,2.1684,0.9612,0.002895,-0.003260,0.636700,-0.691407
5,200106,0.0364,0.001650,0.034750,57.90,0.63,14.3911,13.77,2.8931,0.9716,...,55.87,0.63,14.3911,13.77,2.2173,0.9716,0.002996,0.000360,0.622167,0.265493
6,200107,-0.1131,0.001650,-0.114750,46.98,0.32,10.4062,6.25,1.3354,0.9704,...,57.90,0.63,14.3911,13.77,2.8931,0.9716,0.004116,0.001926,0.625616,1.901342
7,200108,-0.0752,0.001650,-0.076850,43.45,0.32,10.4062,6.25,2.8900,1.0312,...,46.98,0.32,10.4062,6.25,1.3354,0.9704,0.003630,-0.006235,0.994971,-1.864609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,202208,0.0226,0.001366,0.021234,22.74,0.07,1.5237,3.64,15.1723,0.9284,...,22.23,0.23,4.9350,5.86,21.5034,0.9423,0.017784,-0.000346,0.979730,1.688920
253,202209,-0.1155,0.001342,-0.116842,23.72,0.07,1.5237,3.09,9.0525,0.9805,...,22.74,0.07,1.5237,3.64,15.1723,0.9284,0.008940,0.001062,0.944828,-0.055562
254,202210,0.0139,0.001413,0.012487,20.36,0.09,2.0465,4.28,4.9947,0.9228,...,23.72,0.07,1.5237,3.09,9.0525,0.9805,0.004417,-0.005528,0.933333,-1.076543
255,202211,0.0301,0.001676,0.028424,20.97,0.09,2.0465,4.28,11.4118,0.8593,...,20.36,0.09,2.0465,4.28,4.9947,0.9228,0.004023,0.000686,0.882759,-0.113187
256,202212,-0.0505,0.001931,-0.052431,19.91,0.09,2.0465,4.28,12.7485,0.8355,...,20.97,0.09,2.0465,4.28,11.4118,0.8593,0.002728,0.001426,0.936740,1.050587

In [332]:
data.columns = ['yearmonth','monret','monrfret','Exret','pe','eps','roe','incomeps','monfulturnr','beta','volatility','liquidity','peakpoint','RSkew','pe1','eps1','roe1','incomeps1','monfulturnr1','beta1','volatility1','liquidity1','peakpoint1','RSkew1']
data

,yearmonth,monret,monrfret,Exret,pe,eps,roe,incomeps,monfulturnr,beta,...,pe1,eps1,roe1,incomeps1,monfulturnr1,beta1,volatility1,liquidity1,peakpoint1,RSkew1
3,200104,-0.0607,0.001650,-0.062350,55.50,0.63,14.3911,13.77,2.1684,0.9612,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200105,0.0067,0.001650,0.005050,55.87,0.63,14.3911,13.77,2.2173,0.9716,...,55.50,0.63,14.3911,13.77,2.1684,0.9612,0.002895,-0.003260,0.636700,-0.691407
5,200106,0.0364,0.001650,0.034750,57.90,0.63,14.3911,13.77,2.8931,0.9716,...,55.87,0.63,14.3911,13.77,2.2173,0.9716,0.002996,0.000360,0.622167,0.265493
6,200107,-0.1131,0.001650,-0.114750,46.98,0.32,10.4062,6.25,1.3354,0.9704,...,57.90,0.63,14.3911,13.77,2.8931,0.9716,0.004116,0.001926,0.625616,1.901342
7,200108,-0.0752,0.001650,-0.076850,43.45,0.32,10.4062,6.25,2.8900,1.0312,...,46.98,0.32,10.4062,6.25,1.3354,0.9704,0.003630,-0.006235,0.994971,-1.864609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,202208,0.0226,0.001366,0.021234,22.74,0.07,1.5237,3.64,15.1723,0.9284,...,22.23,0.23,4.9350,5.86,21.5034,0.9423,0.017784,-0.000346,0.979730,1.688920
253,202209,-0.1155,0.001342,-0.116842,23.72,0.07,1.5237,3.09,9.0525,0.9805,...,22.74,0.07,1.5237,3.64,15.1723,0.9284,0.008940,0.001062,0.944828,-0.055562
254,202210,0.0139,0.001413,0.012487,20.36,0.09,2.0465,4.28,4.9947,0.9228,...,23.72,0.07,1.5237,3.09,9.0525,0.9805,0.004417,-0.005528,0.933333,-1.076543
255,202211,0.0301,0.001676,0.028424,20.97,0.09,2.0465,4.28,11.4118,0.8593,...,20.36,0.09,2.0465,4.28,4.9947,0.9228,0.004023,0.000686,0.882759,-0.113187
256,202212,-0.0505,0.001931,-0.052431,19.91,0.09,2.0465,4.28,12.7485,0.8355,...,20.97,0.09,2.0465,4.28,11.4118,0.8593,0.002728,0.001426,0.936740,1.050587

In [333]:
data['yearmonth']=data['yearmonth'].astype(int)
data

,yearmonth,monret,monrfret,Exret,pe,eps,roe,incomeps,monfulturnr,beta,...,pe1,eps1,roe1,incomeps1,monfulturnr1,beta1,volatility1,liquidity1,peakpoint1,RSkew1
3,200104,-0.0607,0.001650,-0.062350,55.50,0.63,14.3911,13.77,2.1684,0.9612,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200105,0.0067,0.001650,0.005050,55.87,0.63,14.3911,13.77,2.2173,0.9716,...,55.50,0.63,14.3911,13.77,2.1684,0.9612,0.002895,-0.003260,0.636700,-0.691407
5,200106,0.0364,0.001650,0.034750,57.90,0.63,14.3911,13.77,2.8931,0.9716,...,55.87,0.63,14.3911,13.77,2.2173,0.9716,0.002996,0.000360,0.622167,0.265493
6,200107,-0.1131,0.001650,-0.114750,46.98,0.32,10.4062,6.25,1.3354,0.9704,...,57.90,0.63,14.3911,13.77,2.8931,0.9716,0.004116,0.001926,0.625616,1.901342
7,200108,-0.0752,0.001650,-0.076850,43.45,0.32,10.4062,6.25,2.8900,1.0312,...,46.98,0.32,10.4062,6.25,1.3354,0.9704,0.003630,-0.006235,0.994971,-1.864609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,202208,0.0226,0.001366,0.021234,22.74,0.07,1.5237,3.64,15.1723,0.9284,...,22.23,0.23,4.9350,5.86,21.5034,0.9423,0.017784,-0.000346,0.979730,1.688920
253,202209,-0.1155,0.001342,-0.116842,23.72,0.07,1.5237,3.09,9.0525,0.9805,...,22.74,0.07,1.5237,3.64,15.1723,0.9284,0.008940,0.001062,0.944828,-0.055562
254,202210,0.0139,0.001413,0.012487,20.36,0.09,2.0465,4.28,4.9947,0.9228,...,23.72,0.07,1.5237,3.09,9.0525,0.9805,0.004417,-0.005528,0.933333,-1.076543
255,202211,0.0301,0.001676,0.028424,20.97,0.09,2.0465,4.28,11.4118,0.8593,...,20.36,0.09,2.0465,4.28,4.9947,0.9228,0.004023,0.000686,0.882759,-0.113187
256,202212,-0.0505,0.001931,-0.052431,19.91,0.09,2.0465,4.28,12.7485,0.8355,...,20.97,0.09,2.0465,4.28,11.4118,0.8593,0.002728,0.001426,0.936740,1.050587

In [336]:
# 样本外检验
# 单因子模型: OLS线性拟合
for j in data.columns[4:14]:
    factor_out=j
    datafit = data[['yearmonth', 'monret', 'monrfret', 'Exret', j, j+'1']].copy(deep=True)
    n_in = np.sum(datafit['yearmonth'] <= 201001)
    n_out = np.sum(datafit['yearmonth'] > 201001)
    rout = np.zeros(n_out)
    rmean = np.zeros(n_out)
    rreal = np.zeros(n_out)
    rfree = np.zeros(n_out)
    volt2 = np.zeros(n_out)
    for i in range(n_out):
        model = smf.ols('Exret ~ '+j+'1', data=datafit[['Exret', j+'1']].iloc[:(n_in+i),:])
        results = model.fit()
        b = results.params['Intercept']
        k = results.params[j+'1']
        f = datafit[j].iloc[n_in+i-1]
        rreal[i] = datafit['Exret'].iloc[n_in+i]
        rfree[i] = datafit['monrfret'].iloc[n_in+i]
        rout[i] = k*f+b
        rmean[i] = np.mean(datafit['Exret'].iloc[:(n_in+i)].values)
        volt2[i] = np.sum(datafit['monret'].iloc[(n_in+i-12):(n_in+i)].values**2)
    print()
    print('Out-of-sample tests for one factor model with OLS:')
    print('Predictor: {:s}'.format(factor_out))
    R2os, MFSEadj, pvalue_MFSEadj = myfun_stat_gains(rout, rmean, rreal)
    Uout, Umean, DeltaU = myfun_econ_gains(rout, rmean, rreal, rfree, volt2, gmm=5)
    del datafit

Out-of-sample tests for one factor model with OLS:
Predictor: pe
Stat gains: R2os = 0.002228, MFSEadj = 1.950372, MFSEpvalue = 0.053047
Inference: 在10%的显著性水平下有样本外预测能力
Econ Gains: Delta U = 0.000232, Upred = 0.003108, Umean = 0.002876
Inference: 有经济意义

Out-of-sample tests for one factor model with OLS:
Predictor: eps
Stat gains: R2os = -0.018564, MFSEadj = -0.663603, MFSEpvalue = 0.507991
Inference: 无样本外预测能力
Econ Gains: Delta U = -0.000070, Upred = 0.002806, Umean = 0.002876
Inference: 没有经济意义

Out-of-sample tests for one factor model with OLS:
Predictor: roe
Stat gains: R2os = 0.005498, MFSEadj = 0.033869, MFSEpvalue = 0.973028
Inference: 无样本外预测能力
Econ Gains: Delta U = 0.000246, Upred = 0.003122, Umean = 0.002876
Inference: 有经济意义

Out-of-sample tests for one factor model with OLS:
Predictor: incomeps
Stat gains: R2os = 0.010602, MFSEadj = 1.181260, MFSEpvalue = 0.239420
Inference: 无样本外预测能力
Econ Gains: Delta U = 0.000497, Upred = 0.003373, Umean = 0.002876
Inference: 有经济意义

Out-of-sample tests for one factor model with OLS:
Predictor: monfulturnr
Stat gains: R2os = -0.139420, MFSEadj = -2.187762, MFSEpvalue = 0.030278
Inference: 无样本外预测能力
Econ Gains: Delta U = 0.000098, Upred = 0.002974, Umean = 0.002876
Inference: 有经济意义

Out-of-sample tests for one factor model with OLS:
Predictor: beta
Stat gains: R2os = -0.006956, MFSEadj = -1.360013, MFSEpvalue = 0.175922
Inference: 无样本外预测能力
Econ Gains: Delta U = 0.000220, Upred = 0.003096, Umean = 0.002876
Inference: 有经济意义

Out-of-sample tests for one factor model with OLS:
Predictor: volatility
Stat gains: R2os = -0.033915, MFSEadj = -1.558499, MFSEpvalue = 0.121280
Inference: 无样本外预测能力
Econ Gains: Delta U = -0.000193, Upred = 0.002683, Umean = 0.002876
Inference: 没有经济意义

Out-of-sample tests for one factor model with OLS:
Predictor: liquidity
Stat gains: R2os = -0.003509, MFSEadj = -0.592187, MFSEpvalue = 0.554641
Inference: 无样本外预测能力
Econ Gains: Delta U = -0.000036, Upred = 0.002840, Umean = 0.002876
Inference: 没有经济意义

Out-of-sample tests for one factor model with OLS:
Predictor: peakpoint
Stat gains: R2os = -0.020466, MFSEadj = -1.105580, MFSEpvalue = 0.270727
Inference: 无样本外预测能力
Econ Gains: Delta U = 0.000060, Upred = 0.002936, Umean = 0.002876
Inference: 有经济意义

Out-of-sample tests for one factor model with OLS:
Predictor: RSkew
Stat gains: R2os = -0.003309, MFSEadj = 0.691848, MFSEpvalue = 0.490132
Inference: 无样本外预测能力
Econ Gains: Delta U = -0.000177, Upred = 0.002699, Umean = 0.002876
Inference: 没有经济意义

In [335]:
data.dropna(inplace=True)
factor_out = 'pe,eps,roe,incomeps,monfulturnr,beta,volatility,liquidity,peakpoint,RSkew'
factor_list = np.array(['pe','eps','roe','incomeps','monfulturnr','beta','volatility','liquidity','peakpoint','RSkew'])
datafit = data.copy(deep=True)
n_in = np.sum(datafit['yearmonth'] <= 201001)
n_out = np.sum(datafit['yearmonth'] > 201001)
rout = np.zeros(n_out)
rmean = np.zeros(n_out)
rreal = np.zeros(n_out)
rfree = np.zeros(n_out)
volt2 = np.zeros(n_out)
# reg = sklm.LassoCV(random_state=0, cv=10, fit_intercept=True, normalize=True, precompute='auto', copy_X=True, n_jobs=-1, max_iter=10**9, tol=10-6)
# reg_lasso = linear_model.LassoLarsCV(cv=10, fit_intercept=True, normalize=True, precompute='auto', copy_X=True, n_jobs=-1, max_iter=10000000)
# reg = sklm.RidgeCV(cv=10, fit_intercept=True)
# reg = sklm.ElasticNetCV(random_state=0, cv=10, fit_intercept=True, precompute='auto', copy_X=True, n_jobs=-1, max_iter=10**9, tol=10-6)
for j in range(3):
    if j==0:
        reg = sklm.LassoCV(random_state=0, cv=10, fit_intercept=True,precompute='auto', copy_X=True, n_jobs=-1, max_iter=10**9, tol=10-6)
    elif j==1:
        reg = sklm.RidgeCV(cv=10, fit_intercept=True)
    else:
        reg = sklm.ElasticNetCV(random_state=0, cv=10, fit_intercept=True, precompute='auto', copy_X=True, n_jobs=-1, max_iter=10**9, tol=10-6)
    for i in range(n_out):
        X = datafit[['pe1','eps1','roe1','incomeps1','monfulturnr1','beta1','volatility1','liquidity1','peakpoint1','RSkew1']].iloc[:(n_in+i), :].values
        y = datafit['Exret'].iloc[:(n_in+i)].values
        reg.fit(X, y)
        # print(factor_list[np.abs(reg.coef_) != 0])
        k = np.concatenate((np.array([reg.intercept_]), reg.coef_))
        f = datafit[['pe','eps','roe','incomeps','monfulturnr','beta','volatility','liquidity','peakpoint','RSkew']].iloc[n_in+i-1, :].values
        f = np.concatenate((np.array([1]), f))
        rreal[i] = datafit['Exret'].iloc[n_in+i]
        rfree[i] = datafit['monrfret'].iloc[n_in+i]
        rout[i] = np.sum(k*f)
        rmean[i] = np.mean(datafit['Exret'].iloc[:(n_in+i)].values)
        volt2[i] = np.sum(datafit['monret'].iloc[(n_in+i-12):(n_in+i)].values**2)
    print()
    print('Out-of-sample tests for multi-factor model with ML method:')
    print('Predictor: {:s}'.format(factor_out))
    R2os, MFSEadj, pvalue_MFSEadj = myfun_stat_gains(rout, rmean, rreal)
    Uout, Umean, DeltaU = myfun_econ_gains(rout, rmean, rreal, rfree, volt2, gmm=5)
del datafit

Out-of-sample tests for multi-factor model with ML method:
Predictor: pe,eps,roe,incomeps,monfulturnr,beta,volatility,liquidity,peakpoint,RSkew
Stat gains: R2os = -0.154528, MFSEadj = -1.704940, MFSEpvalue = 0.090332
Inference: 无样本外预测能力
Econ Gains: Delta U = -0.000540, Upred = 0.002336, Umean = 0.002876
Inference: 没有经济意义

Out-of-sample tests for multi-factor model with ML method:
Predictor: pe,eps,roe,incomeps,monfulturnr,beta,volatility,liquidity,peakpoint,RSkew
Stat gains: R2os = -0.229592, MFSEadj = -0.714942, MFSEpvalue = 0.475787
Inference: 无样本外预测能力
Econ Gains: Delta U = 0.000256, Upred = 0.003132, Umean = 0.002876
Inference: 有经济意义

Out-of-sample tests for multi-factor model with ML method:
Predictor: pe,eps,roe,incomeps,monfulturnr,beta,volatility,liquidity,peakpoint,RSkew
Stat gains: R2os = -0.154632, MFSEadj = -1.707924, MFSEpvalue = 0.089776
Inference: 无样本外预测能力
Econ Gains: Delta U = -0.000540, Upred = 0.002336, Umean = 0.002876
Inference: 没有经济意义