In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy.stats import f
import defs
import linearmodels

ModuleNotFoundError: No module named 'defs'

NameError: name 'pd' is not defined

In [5]:
import pandas as pd
index=pd.read_csv('index.csv',encoding='utf-8',usecols=[0,1,3])
index.columns=['code','date','return']
index['date']=pd.to_datetime(index['date'])
index

      code       date  return
0       32 2010-01-08 -0.0137
1       32 2010-01-15 -0.0246
2       32 2010-01-22 -0.0682
3       32 2010-01-29 -0.0489
4       32 2010-02-05 -0.0313
...    ...        ...     ...
4650    41 2022-12-02 -0.0073
4651    41 2022-12-09 -0.0291
4652    41 2022-12-16 -0.0112
4653    41 2022-12-23 -0.0402
4654    41 2022-12-30  0.0526

[4655 rows x 3 columns]

In [7]:
import numpy as np
indexcode=np.unique(index['code'])
indexcode

array([32, 33, 34, 35, 38, 40, 41], dtype=int64)

In [8]:
index32=index[index['code']==indexcode[0]]
index32.columns=['code','date','return32']
index32

     code       date  return32
0      32 2010-01-08   -0.0137
1      32 2010-01-15   -0.0246
2      32 2010-01-22   -0.0682
3      32 2010-01-29   -0.0489
4      32 2010-02-05   -0.0313
..    ...        ...       ...
660    32 2022-12-02   -0.0100
661    32 2022-12-09   -0.0068
662    32 2022-12-16   -0.0216
663    32 2022-12-23   -0.0488
664    32 2022-12-30    0.0023

[665 rows x 3 columns]

In [36]:
index33=index[index['code']==indexcode[1]]
index34=index[index['code']==indexcode[2]]
index35=index[index['code']==indexcode[3]]
index38=index[index['code']==indexcode[4]]
index40=index[index['code']==indexcode[5]]
index41=index[index['code']==indexcode[6]]
index33.columns=['code','date','return33']
index34.columns=['code','date','return34']
index35.columns=['code','date','return35']
index38.columns=['code','date','return38']
index40.columns=['code','date','return40']
index41.columns=['code','date','return41']
index34

      code       date  return34
1330    34 2010-01-08   -0.0089
1331    34 2010-01-15    0.0385
1332    34 2010-01-22   -0.0274
1333    34 2010-01-29   -0.0472
1334    34 2010-02-05   -0.0242
...    ...        ...       ...
1990    34 2022-12-02    0.0083
1991    34 2022-12-09    0.0050
1992    34 2022-12-16   -0.0244
1993    34 2022-12-23   -0.0516
1994    34 2022-12-30    0.0226

[665 rows x 3 columns]

In [37]:
rf=pd.read_csv('rfreturn.csv',encoding='utf-8',usecols=[0,2])
rf

        日期_Date  周无风险收益率_WkRFRet
0    2010/01/01         0.000352
1    2010/01/08         0.000352
2    2010/01/15         0.000356
3    2010/01/22         0.000361
4    2010/01/29         0.000365
..          ...              ...
674  2022/12/02         0.000422
675  2022/12/09         0.000429
676  2022/12/16         0.000443
677  2022/12/23         0.000457
678  2022/12/30         0.000464

[679 rows x 2 columns]

In [38]:
rf.columns=['date','rfreturn']
rf['date']=pd.to_datetime(rf['date'])
rf

          date  rfreturn
0   2010-01-01  0.000352
1   2010-01-08  0.000352
2   2010-01-15  0.000356
3   2010-01-22  0.000361
4   2010-01-29  0.000365
..         ...       ...
674 2022-12-02  0.000422
675 2022-12-09  0.000429
676 2022-12-16  0.000443
677 2022-12-23  0.000457
678 2022-12-30  0.000464

[679 rows x 2 columns]

In [39]:
data_factors = pd.read_csv('FFF3factors.csv', encoding='utf-8', usecols=[2, 6, 7, 8])##全部是总市值加权
data_factors.columns = ['date', 'mkt', 'smb', 'hml']
data_factors['date']=pd.to_datetime(data_factors['date'])
data_factors
data_matrix=pd.merge(left=data_factors,right=rf,on='date',how='inner')
data_matrix

          date     mkt     smb     hml  rfreturn
0   2010-01-08 -0.0256  0.0270 -0.0021  0.000352
1   2010-01-15  0.0082  0.0362 -0.0087  0.000356
2   2010-01-22 -0.0302  0.0068 -0.0137  0.000361
3   2010-01-29 -0.0449  0.0040 -0.0178  0.000365
4   2010-02-05 -0.0173  0.0193  0.0024  0.000367
..         ...     ...     ...     ...       ...
626 2022-12-02  0.0174  0.0125 -0.0153  0.000422
627 2022-12-09  0.0178 -0.0163 -0.0080  0.000429
628 2022-12-16 -0.0107 -0.0030 -0.0019  0.000443
629 2022-12-23 -0.0364 -0.0118 -0.0014  0.000457
630 2022-12-30  0.0125  0.0051 -0.0066  0.000464

[631 rows x 5 columns]

In [40]:
data_matrix=pd.merge(left=data_matrix,right=index32[['date','return32']],on='date',how='inner')
data_matrix

          date     mkt     smb     hml  rfreturn  return32
0   2010-01-08 -0.0256  0.0270 -0.0021  0.000352   -0.0137
1   2010-01-15  0.0082  0.0362 -0.0087  0.000356   -0.0246
2   2010-01-22 -0.0302  0.0068 -0.0137  0.000361   -0.0682
3   2010-01-29 -0.0449  0.0040 -0.0178  0.000365   -0.0489
4   2010-02-05 -0.0173  0.0193  0.0024  0.000367   -0.0313
..         ...     ...     ...     ...       ...       ...
626 2022-12-02  0.0174  0.0125 -0.0153  0.000422   -0.0100
627 2022-12-09  0.0178 -0.0163 -0.0080  0.000429   -0.0068
628 2022-12-16 -0.0107 -0.0030 -0.0019  0.000443   -0.0216
629 2022-12-23 -0.0364 -0.0118 -0.0014  0.000457   -0.0488
630 2022-12-30  0.0125  0.0051 -0.0066  0.000464    0.0023

[631 rows x 6 columns]

In [41]:
data_matrix=pd.merge(left=data_matrix,right=index33[['date','return33']],on='date',how='inner')
data_matrix=pd.merge(left=data_matrix,right=index34[['date','return34']],on='date',how='inner')
data_matrix=pd.merge(left=data_matrix,right=index35[['date','return35']],on='date',how='inner')
data_matrix=pd.merge(left=data_matrix,right=index38[['date','return38']],on='date',how='inner')
data_matrix=pd.merge(left=data_matrix,right=index40[['date','return40']],on='date',how='inner')
data_matrix=pd.merge(left=data_matrix,right=index41[['date','return41']],on='date',how='inner')
data_matrix

,date,mkt,smb,hml,rfreturn,return32,return33,return34,return35,return38,return40,return41
0,2010-01-08,-0.0256,0.0270,-0.0021,0.000352,-0.0137,-0.0190,-0.0089,-0.0317,-0.0378,-0.0002,-0.0152
1,2010-01-15,0.0082,0.0362,-0.0087,0.000356,-0.0246,0.0016,0.0385,0.0548,-0.0329,0.0925,0.0205
2,2010-01-22,-0.0302,0.0068,-0.0137,0.000361,-0.0682,-0.0672,-0.0274,-0.0227,-0.0003,-0.0636,-0.0218
3,2010-01-29,-0.0449,0.0040,-0.0178,0.000365,-0.0489,-0.0556,-0.0472,-0.0441,-0.0696,-0.0230,-0.0436
4,2010-02-05,-0.0173,0.0193,0.0024,0.000367,-0.0313,-0.0318,-0.0242,-0.0154,-0.0003,-0.0700,-0.0054
...,...,...,...,...,...,...,...,...,...,...,...,...
626,2022-12-02,0.0174,0.0125,-0.0153,0.000422,-0.0100,0.0108,0.0083,0.0488,0.0144,0.0510,-0.0073
627,2022-12-09,0.0178,-0.0163,-0.0080,0.000429,-0.0068,0.0376,0.0050,0.0284,0.0394,-0.0145,-0.0291
628,2022-12-16,-0.0107,-0.0030,-0.0019,0.000443,-0.0216,-0.0305,-0.0244,-0.0067,-0.0087,-0.0220,-0.0112
629,2022-12-23,-0.0364,-0.0118,-0.0014,0.000457,-0.0488,-0.0441,-0.0516,-0.0290,-0.0253,-0.0223,-0.0402
630,2022-12-30,0.0125,0.0051,-0.0066,0.000464,0.0023,0.0121,0.0226,0.0004,0.0177,0.0148,0.0526

In [42]:
x = data_matrix.loc[:, ['mkt', 'smb', 'hml']].values
ret_rf = data_matrix.loc[:, ['rfreturn']].values
ret_stock = data_matrix.loc[:, ['return32']].values
x

array([[-0.0256,  0.027 , -0.0021],
       [ 0.0082,  0.0362, -0.0087],
       [-0.0302,  0.0068, -0.0137],
       ...,
       [-0.0107, -0.003 , -0.0019],
       [-0.0364, -0.0118, -0.0014],
       [ 0.0125,  0.0051, -0.0066]])

In [45]:
import statsmodels.api as sm
X = sm.add_constant(x)##增加一列全为1的列向量，即为截距项。
Y = ret_stock - ret_rf
model = sm.OLS(Y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.754
Model:                            OLS   Adj. R-squared:                  0.752
Method:                 Least Squares   F-statistic:                     639.0
Date:                Tue, 18 Apr 2023   Prob (F-statistic):          3.52e-190
Time:                        17:41:34   Log-Likelihood:                 1622.8
No. Observations:                 631   AIC:                            -3238.
Df Residuals:                     627   BIC:                            -3220.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0006      0.001     -0.817      0.414      -0.002       0.001
x1             1.1281      0.026     43.013      0.000       1.077       1.180
x2             0.0830      0.040      2.063      0.040       0.004       0.162
x3            -0.0648      0.044     -1.466      0.143      -0.152       0.022
==============================================================================
Omnibus:                       62.667   Durbin-Watson:                   2.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              150.548
Skew:                           0.537   Prob(JB):                     2.04e-33
Kurtosis:                       5.138   Cond. No.                         66.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [46]:
ret_stock = data_matrix.loc[:, ['return33']].values
Y = ret_stock - ret_rf
model = sm.OLS(Y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.754
Model:                            OLS   Adj. R-squared:                  0.752
Method:                 Least Squares   F-statistic:                     639.0
Date:                Tue, 18 Apr 2023   Prob (F-statistic):          3.52e-190
Time:                        17:43:29   Log-Likelihood:                 1622.8
No. Observations:                 631   AIC:                            -3238.
Df Residuals:                     627   BIC:                            -3220.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0006      0.001     -0.817      0.414      -0.002       0.001
x1             1.1281      0.026     43.013      0.000       1.077       1.180
x2             0.0830      0.040      2.063      0.040       0.004       0.162
x3            -0.0648      0.044     -1.466      0.143      -0.152       0.022
==============================================================================
Omnibus:                       62.667   Durbin-Watson:                   2.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              150.548
Skew:                           0.537   Prob(JB):                     2.04e-33
Kurtosis:                       5.138   Cond. No.                         66.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [47]:
ret_stock = data_matrix.loc[:, ['return34']].values
Y = ret_stock - ret_rf
model = sm.OLS(Y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.797
Model:                            OLS   Adj. R-squared:                  0.796
Method:                 Least Squares   F-statistic:                     820.9
Date:                Tue, 18 Apr 2023   Prob (F-statistic):          1.26e-216
Time:                        17:48:12   Log-Likelihood:                 1720.8
No. Observations:                 631   AIC:                            -3434.
Df Residuals:                     627   BIC:                            -3416.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0003      0.001     -0.469      0.640      -0.002       0.001
x1             1.1072      0.022     49.311      0.000       1.063       1.151
x2            -0.0461      0.034     -1.339      0.181      -0.114       0.022
x3             0.0345      0.038      0.910      0.363      -0.040       0.109
==============================================================================
Omnibus:                      309.540   Durbin-Watson:                   1.953
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5270.758
Skew:                           1.750   Prob(JB):                         0.00
Kurtosis:                      16.719   Cond. No.                         66.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [48]:
ret_stock = data_matrix.loc[:, ['return35']].values
Y = ret_stock - ret_rf
model = sm.OLS(Y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.816
Model:                            OLS   Adj. R-squared:                  0.815
Method:                 Least Squares   F-statistic:                     928.5
Date:                Tue, 18 Apr 2023   Prob (F-statistic):          3.79e-230
Time:                        17:49:07   Log-Likelihood:                 1779.0
No. Observations:                 631   AIC:                            -3550.
Df Residuals:                     627   BIC:                            -3532.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0004      0.001     -0.626      0.531      -0.001       0.001
x1             1.0230      0.020     49.959      0.000       0.983       1.063
x2             0.0206      0.031      0.654      0.513      -0.041       0.082
x3            -0.4994      0.035    -14.463      0.000      -0.567      -0.432
==============================================================================
Omnibus:                       27.815   Durbin-Watson:                   1.946
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               57.594
Skew:                           0.248   Prob(JB):                     3.12e-13
Kurtosis:                       4.395   Cond. No.                         66.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [50]:
ret_stock = data_matrix.loc[:, ['return38']].values
Y = ret_stock - ret_rf
model = sm.OLS(Y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.799
Model:                            OLS   Adj. R-squared:                  0.798
Method:                 Least Squares   F-statistic:                     828.4
Date:                Tue, 18 Apr 2023   Prob (F-statistic):          1.31e-217
Time:                        17:51:40   Log-Likelihood:                 1757.0
No. Observations:                 631   AIC:                            -3506.
Df Residuals:                     627   BIC:                            -3488.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       6.727e-05      0.001      0.112      0.911      -0.001       0.001
x1             1.0075      0.021     47.518      0.000       0.966       1.049
x2            -0.3149      0.033     -9.685      0.000      -0.379      -0.251
x3             0.3760      0.036     10.518      0.000       0.306       0.446
==============================================================================
Omnibus:                       28.040   Durbin-Watson:                   2.030
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               77.696
Skew:                           0.078   Prob(JB):                     1.34e-17
Kurtosis:                       4.712   Cond. No.                         66.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [51]:
ret_stock = data_matrix.loc[:, ['return40']].values
Y = ret_stock - ret_rf
model = sm.OLS(Y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.681
Model:                            OLS   Adj. R-squared:                  0.679
Method:                 Least Squares   F-statistic:                     446.0
Date:                Tue, 18 Apr 2023   Prob (F-statistic):          4.92e-155
Time:                        17:52:20   Log-Likelihood:                 1477.7
No. Observations:                 631   AIC:                            -2947.
Df Residuals:                     627   BIC:                            -2930.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0007      0.001     -0.777      0.438      -0.003       0.001
x1             1.0021      0.033     30.359      0.000       0.937       1.067
x2             0.6144      0.051     12.136      0.000       0.515       0.714
x3            -0.4269      0.056     -7.670      0.000      -0.536      -0.318
==============================================================================
Omnibus:                      127.986   Durbin-Watson:                   2.077
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              580.694
Skew:                           0.838   Prob(JB):                    8.02e-127
Kurtosis:                       7.391   Cond. No.                         66.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [53]:
ret_stock = data_matrix.loc[:, ['return41']].values
Y = ret_stock - ret_rf
model = sm.OLS(Y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.651
Model:                            OLS   Adj. R-squared:                  0.649
Method:                 Least Squares   F-statistic:                     390.0
Date:                Tue, 18 Apr 2023   Prob (F-statistic):          7.28e-143
Time:                        17:57:13   Log-Likelihood:                 1650.5
No. Observations:                 631   AIC:                            -3293.
Df Residuals:                     627   BIC:                            -3275.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0007      0.001     -0.937      0.349      -0.002       0.001
x1             0.7993      0.025     31.844      0.000       0.750       0.849
x2             0.2669      0.038      6.932      0.000       0.191       0.342
x3             0.3009      0.042      7.108      0.000       0.218       0.384
==============================================================================
Omnibus:                       89.501   Durbin-Watson:                   1.856
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              532.758
Skew:                           0.447   Prob(JB):                    2.06e-116
Kurtosis:                       7.412   Cond. No.                         66.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [54]:
T = len(Y)##数据项数
N = len(indexcode)
K = 3
y = data_matrix.iloc[:, 5:].values - data_matrix.loc[:, ['rfreturn']].values
x = sm.add_constant(x)
XTX = np.dot(np.transpose(X), X)
yTX = np.dot(np.transpose(y),X)
AB_hat = np.dot(yTX,np.linalg.inv(XTX))
AB_hat=np.transpose(AB_hat)
ALPHA=AB_hat[0]
ALPHA

array([-1.09385290e-03, -6.05465781e-04, -2.97166333e-04, -3.62089810e-04,
        6.72710287e-05, -7.23986734e-04, -6.64024956e-04])

In [56]:
from scipy.stats import f
RESD = y - np.dot(x, AB_hat)##np.dot(x, np.transpose(AB_hat))将每个时间点上，对于每个指数根据估计出来的系数计算出值
COV = np.dot(np.transpose(RESD), RESD)/T
invCOV = np.linalg.inv(COV)

fs = x[:, [1, 2, 3]]
muhat = np.mean(fs, axis=0).reshape((3, 1))##这里的reshape没有到作用了，因为np.mean(fs, axis=0)本来是1行*3列了
# a = np.array([1, 2, 3, 4, 5, 6])  reshape用例
# b = a.reshape((2, 3))
# print(b)
fs = fs - np.mean(fs, axis=0)##这里是对fs中的每一行进行减的操作
omegahat = np.dot(np.transpose(fs), fs)/T
invOMG = np.linalg.inv(omegahat)
xxx = np.dot(np.dot(np.transpose(muhat), invOMG), muhat)
yyy = np.dot(np.dot(np.transpose(ALPHA), invCOV), ALPHA)
GRS = (T-N-K)/N*(1/(1+xxx))*yyy
pvalue = 1 - f.cdf(GRS[0][0], N, T-N-K)
print('三因子模型的多资产检验结果')
print('{:>7s},{:>7s},{:>7s},{:>7s},{:>7s},{:>7s},{:>7s},{:>7s},{:>7s}'.format('alpha1', 'alpha2', 'alpha3', 'alpha4', 'alpha5', 'alpha6', 'alpha7', 'GRS', 'pvalue'))
print('{:7.4f},{:7.4f},{:7.4f},{:7.4f},{:7.4f},{:7.4f},{:7.4f},{:7.4f},{:7.4f}'.format(ALPHA[0], ALPHA[1], ALPHA[2], ALPHA[3], ALPHA[4], ALPHA[5], ALPHA[6], GRS[0][0], pvalue))

三因子模型的多资产检验结果
 alpha1, alpha2, alpha3, alpha4, alpha5, alpha6, alpha7,    GRS, pvalue
-0.0011,-0.0006,-0.0003,-0.0004, 0.0001,-0.0007,-0.0007, 0.6544, 0.7108

In [41]:
rows = sum([[var, f'{var}_t'] for var in ['const'] + ['reg_order']],[])
reg_names=None
if reg_names is None:
        reg_names = [f'({i+1})' for i in range(4)]

[{1}, {2}, {3}, {4}]